---
---

@import "{{ site.theme }}";


body {
  background: none;
  color: #000;
  font: 18px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

td {
  border-right: 1px solid #e5e5e5;

  &:first-child {
    border-left: 1px solid #e5e5e5;
  }
}

header {
  background: #000;
  h1 {
    text-shadow: none;
  }
}

#banner {
  background: #ccc;
  border: none;
}

section {
  width:690px;
}
